.container {
  width: 576px;
  height: 128px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  transition: all 150ms;
}

.background {
  top: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  position: absolute;
  background-color: #0e0e0e;
  z-index: 0;
}

.content {
  z-index: 1;
  margin-left: 32px;
}

.info {
  font-size: 18px;
}

.title {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
}

.container:hover {
  cursor: pointer;
  margin-left: 5.5px;
  transform: scale(1.02);
}
